* {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

table {
  table-layout: fixed;
  width: 50vw;
  height: 50vh;
  border: 1px solid;
  border-spacing: 0;
}

td {
  height: 6vh;
  text-shadow: 0px 0px 8px white;
  font-family: sans-serif;
}